/* @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-size: 400;
    src: url("fonts/Montserrat-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-size: 700;
    src: url("fonts/Montserrat-Bold.woff2");
    font-display: swap;
}
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    padding: 220px 85px 116px;
    color: #515076;
    margin: 0;
    background-image: url("icons/flowers_bg.png");
    background-repeat: no-repeat;
    background-position: 240px 0px;
    margin: 0 auto;

}

.title-header {
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    color: #515076;
    margin: 0 0 110px 0;
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

.product-list_item {
    padding: 25px;
    background-color: #f7f7fa;
    box-sizing: border-box;
    width: 340px;
    height: 573px;
}

.img-card {
    margin-bottom: 20px;
}

.text-card {
    display: inline-block;
    color: #a5a3b9;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.title-card {
    color: #515076;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    margin: 0 0 7px 0;
}

.description-card {
    margin: 0 0 17px 0;
    line-height: 18px;
    text-align: left;
}

.сompound-card {
    display: inline-block;
    text-align: left;
    margin-bottom: 4px;
}

.compound-list {
    margin: 0 0 25px 0;
    padding: 0;
    list-style: none;
}

.compound-list_item {
    position: relative;
    padding-left: 15px;
}

.compound-list_item:not(:last-child) {
    margin-bottom: 4px;
}

.compound-list_item::before {
    content: '';
    position: absolute;
    background-image: url('icons/round_item.svg');
    left: 1px;
    top: 7px;
    width: 7px;
    height: 7px;
}

.wrapper-price {
    display: flex;
    justify-content: space-between;
}

.wrapper-price_rate {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.wrapper-price_value {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}